@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Neue Machina";
  src: url("../../public/fonts/NeueMachina-Light.otf");
  font-weight: light;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../../public/fonts/NeueMachina-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Neue Machina";
  src: url("../../public/fonts/NeueMachina-Ultrabold.otf");
  font-weight: bold;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientTxt {
  background: linear-gradient(145deg, #72f, #c1b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
